*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-weight: 400;
    line-height: 1.7rem;
    box-sizing: border-box;
}

.display {
    border: solid 2px black;
    margin: 1rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 40rem;
}

.display--large {
    max-width: 60rem;
}

.inline-col {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.inline-row {
    display: flex;
    justify-content: space-around; 
}

.lead {
    font-size: 1.8rem;

}

form.ui.display {
    max-width: 40rem;
}

.ui.form>.field>label {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.center {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
}

