.page-header {
    height: 33vh;
    background-image: url(../images/stock-chart.jpg);
    background-size: cover;
    background-position: top;
}

.page-header__text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem; 

}

.heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 400;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
}