.stock__card {
    border: solid 2px black;
    margin: .8rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    max-width: 40rem;
}

.stock__card--heading {
    font-size: 2rem;
}

.inline-col {
    display: flex !important;
    flex-direction: column;
    padding: 5px;
}

.inline-row {
    display: flex;
    justify-content: space-around; 
}

.section-head {
    font-size: 32px;
    margin: 3px;
}

.section-subhead {
    margin: 3px;
    font-size: 24px;
}

.search-results {
    list-style-type: none;
    text-align: start;
    z-index: 10;
}

li.content {
    list-style: none;
}
