.stock-overview__section {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.stock-overview {
    margin: 3rem auto;
    max-width: 90%;
}

div .ui.styled.accordion {
    margin: .8rem auto;
    width: 90%;
}